VERTEX_SHADER_DX9 RCDATA VertexShader.DX9
VERTEX_SHADER_DX11 RCDATA VertexShader.DX11
VERTEX_SHADER_GL RCDATA VertexShader.GL.txt
VERTEX_SHADER_MTL RCDATA VertexShader.MTL.txt
PIXEL_SHADER_DX9 RCDATA PixelShader.DX9
PIXEL_SHADER_DX11 RCDATA PixelShader.DX11
PIXEL_SHADER_GL RCDATA PixelShader.GL.txt
PIXEL_SHADER_MTL RCDATA PixelShader.MTL.txt