TEST01 RCDATA "Resources\\Test01.jpg"
TEST02 RCDATA "Resources\\Test02.jpg"
TEST03 RCDATA "Resources\\Test03.jpg"
TEST04 RCDATA "Resources\\Test04.jpg"
TEST05 RCDATA "Resources\\Test05.jpg"
TEST06 RCDATA "Resources\\Test06.jpg"
TEST07 RCDATA "Resources\\Test07.jpg"
TEST08 RCDATA "Resources\\Test08.jpg"
